@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

body {
  background-color: #050505;
  color: #f2f2f2;
  font-family: sans-serif;
  overflow-x: hidden;
}
